* {
    box-sizing: border-box;
}

.centering-container {
    width: 99vw;
    display: flex;   
}

.card {
    border: black solid 1px;
    height: 200px;
    width: 100%;
    text-align: left;
    padding: 0 30px;   
}

#card-container {
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(4, 300px);
    grid-gap: 25px ;
    margin: 0 auto;
}